body {
  background-color: rgba(48, 189, 194, 0.347);  
}

:root {
    --primary-font: 'Alex Brush', cursive;
    --secondary-font: 'Joan', serif;

}

.navbar-dark {
    font-family: var(--secondary-font);
    text-shadow: 1px 1px 4px rgb(27, 129, 133);
    font-size: 18px;
}

.nav-link {
    color: white !important;
}

.menu-logo {
    width: 80px;
    height: auto;
}

.page-logo {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 280px;
    height: auto;
}

h1 {
  font-family: var(--secondary-font);  
}

h2 {
    font-family: var(--secondary-font);  
}

.col-md-4 {
    display: flex;
    width: 33.3%;
    justify-content: center;
}

.carousel-caption {
    padding-bottom: 280px !important;   
}

h5 {
    font-family: var(--primary-font);
    font-size: 38px;
    text-shadow: 1px 1px 4px black;
}

.main-image {
    width: 280px;
    height: 380px;
    box-shadow: inset 2px 2px 6px rgb(255, 255, 255);
}

.main-image-wrapper {
    justify-content: center; 
    display: flex;
}

.desserts-header {
    font-family: var(--primary-font);
}

.dessert-main-image-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.dessert-main-image {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: inset 2px 2px 6px rgb(255, 255, 255);
}
.dessert-main-image-b {
    width: 350px;
    height: auto;
    box-shadow: inset 2px 2px 6px rgb(255, 255, 255);
    
}

.footer {
    display: flex;
    justify-content: space-evenly;
    position: static;
    margin-top: 0px;
    padding: 10px;
    bottom: 0;
    color: white;
    font-family: var(--secondary-font);
    font-size: 16px;
    text-shadow: 1px 1px 4px rgb(27, 129, 133);
    
}

.footer a {
    margin-top: 40px;
    text-decoration: none;
    color: white; 
    transition: .5s all ease-in-out;  
}

.footer a:hover {
    font-size: 16px;
}

.socials {
    display: flex;
    justify-content: center;
    padding: 5px;
}