body {
  background-color: rgba(48, 189, 194, 0.347);  
}

.bg-light {
    
}

.menu-logo {
    width: 80px;
    height: auto;
}

.page-logo {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 280px;
    height: auto;
}

h1 {
    
}

h2 {

}

.col-md-4 {
    display: flex;
    width: 33.3%;
    justify-content: center;
}

.carousel-caption{
    padding-bottom: 310px !important;
    text-shadow: 1px 1px 4px black;
}

.main-image {
    width: 280px;
    height: 380px;
    border-radius: 5px;
    border: 10px solid rgba(67, 197, 201, 0.249);
}

.main-image-wrapper {
    justify-content: center; 
    display: flex;
    flex: 1;
}

.dessert-main-image-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.dessert-main-image {
    width: 250px;
    height: auto;
    border-radius: 50%;
}
.dessert-main-image-b {
    width: 350px;
    height: auto;
    
}

.footer {
    display: flex;
    position: static;
    bottom: 0;
    color: white;
    background: rgb(241,103,152);
    background: linear-gradient(0deg, rgba(241,103,152,0.783) 0%, rgba(48, 189, 194, 0.783) 38%, rgba(254, 237, 167, 0.783) 84%, rgba(255,255,255,0.783) 100%);
}